.actions
  = link_to 'Edit', edit_post_path(@post)
  |
  = link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to 'Back', posts_path

= render :partial => "post", :object => @post
